# Файлы с конфиденциальными данными
.env

# Виртуальное окружение Python
venv/
__pycache__/
*.pyc

# Логи
bot.log
logs/

# IDE и редакторы
.vscode/
.idea/

# Кэш и временные файлы
*.log
*.tmp

# Файл эксель с заказами
orders/